body {
  background-image: url("/static/images/maturity.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

[x-cloak] {
  display: none !important;
}

/* class for the main container which is called inside main of the html  */
.container {
  width: auto;
  height: auto;
  border: 10px solid black;
  margin: px auto 0;
  border-radius: 10px;
  padding: 10px;
  border-color: rgba(0, 213, 255, 0.488);
}

/* class to control the login container called in login.html login section, register section in register.html  */

.container-login {
  width: 500px;
  height: auto;
  margin: 10px auto;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.408);
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
}

.item {
  /* margin-top: 0%; */
  text-align: center;
  color: white;
  margin: 0px auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.create_user {
  width: auto;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid black;
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Vertically center the button */
}

.create_user:hover:not([disabled]) {
  background: blue;
  color: orange;
}

.plots{
  display: flex;
  width: auto;
}

.images {
  width: 100%;
  height: 100%;
}

.input {
  width: 500px;
  height: 50px;
  border-radius: 10px;
  font-size: large;
  background-color: aqua;
}


.submit-btn {
  width: auto;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s;
  border: 1px solid black;
  margin: 50px auto 0;
  border-radius: 10px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Vertically center the button */
}

/* class for submit buttons which is used on all the submit buttons in the html codes  */
.submit-btn:hover:not([disabled]) {
  background: blue;
  color: orange;
}

.upload-btn {
  width: auto;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 10px;
}

.upload-btn:hover:not([disabled]) {
  background: blue;
  color: orange;
}

/* First dashboard for the admininstrator.html  */
.dashboard_main_admin {
  width: 1200px;
  height: auto;
  margin: 0px auto;
  display: flex;
}

.dashboard_main_admin_record {
  width: 100%;
  height: auto;
  margin: 0px auto;
  display: flex;
}

/* This section controls the alignment of the tabs where there are the create and update buttons  */
.dashboard_tabs {
  width: 400px;
  height: auto;
  float: left;
  text-align: center;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 5px;
  background-color: rgba(255, 0, 183, 0.284);
}

/* This section controls the computational interface of the administrator.html where the admin will be creating and updating the different elements  */
.dashboard_computation {
  width: 800px;
  height: auto;
  border: 1px solid black;
  float: right;
  font-size: 10px;
  margin-top: 5px;
  background-color: black;
  border: 1px solid black;
  border-radius: 10px;
}

/* This style ensures that the create and update button in administrator.html are aligned in a horizontal manner  */
.create_delete_update_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* This section is for the boxes in the adminstrator.html found on the left inside the dashboard  */
.box_for_the_dashboard_tabs {
  border: 2px solid black;
  padding: 12px;
  border-radius: 10px;
}

/* This section is for the input fied in the adminstrator.html computational interface  */
.input_field_for_admin_create_and_update {
  width: 300px;
  height: 30px;
  border-radius: 10px;
  font-size: large;
  background-color: aqua;
  margin-top: 20px;
  justify-content: right;
  align-items: right;
  /* padding: 10px; */
}




/* Stylings for the user account  */

.userAccountParent{
  display: flex;
  justify-content: center;
}

.userAccount_left{
  width: 150px;
  height: 500px;
  align-items: center;
  padding: 10px;
 margin-left: 0px;
}

.userAccount_middle{
  width: auto;
  
  height: 500px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: black;
  align-items: center;
  padding: 10px;
  margin-left: 0px;
}

.get_started{
  width: 50%;
  height: 500px;
  height: 500px;
  border-radius: 10px;
  border: 1px solid black;
  background-color: black;
  align-items: center;
  padding: 10px;
  margin-left: 0px;


}

.get_started_image{
  max-width: 100%;
  max-height: 100%;
  border: 1px solid black;
  border-radius: 10px;


}
.userAccount_right{
  width: 350px;
  height: 500px;
  align-items: center;
  padding: 10px;
  margin-left: 0px;
}

.images{
  max-width: 100%;
  max-height: 60%;
  border: 1px solid black;
  border-radius: 10px;
}



.home_page_parent{
  width: 1800px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}


.home_page_left{
  width: 600px;
  height: 500px;
  
  
}

.home_page_middle{
  width: 600px;
  height: 500px;

}

.home_page_right{
  width: 600px;
  height: 500px;
 
}

.error{
  text-align: center;
  color: red;
  margin: 10px auto;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.table_style_datase {
  /* border-collapse: collapse; */
  border-spacing: 10px;
  width: 100%;
  height: auto;
  text-align: center;
  background-color: black;
  /* font-family: Arial, Helvetica, sans-serif; */

  font-size: larger;
}
.table_style_user {
  border-collapse: collapse;
  border-spacing: 10px;
  width: 1200px;
  height: auto;
  text-align: center;
  vertical-align: middle;
  background-color: black;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  justify-content: center;
  font-size: larger;
}


.table_style_datase,.table_style_user, td,
.table_style th {
  border: 1px solid white; /* Add border for table cells */
  padding: 8px 12px; /* Add padding to all sides of the cell content */
}

.input_user {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  font-size: large;
  background-color: aqua;
}































/* Media Queries for Responsive Design */

/* Small screen */
@media (min-width: 500px) {
  .container {
    width: auto;
    background-color: orange;
  }
  .container-login {
    width: 500px;
  }
  .dashboard_main_admin {
    width: 500px;
  }
  .dashboard_tabs {
    width: 200px;
  }
  .dashboard_computation {
    width: 350px;
  }
  .input_field_for_admin_create_and_update {
    width: 300px;
  }
  .table_style{
    width: auto;
  }
}

/* Medium screen */
@media (min-width: 768px) {
  .container {
    width: auto;

    background-color: green;
  }

  .container-login {
    width: 500px;
  }
  .dashboard_main_admin {
    width: 768px;
  }
  .dashboard_tabs {
    width: 300px;
  }
  .dashboard_computation {
    width: 468px;
  }
  .input_field_for_admin_create_and_update {
    width: 400px;
  }
  .table_style{
    width: auto;
  }
}

/* Large screen  and above*/
@media (min-width: 950px) {
  .container {
    width: auto;

    background-color: rgba(17, 255, 0, 0.359);
  }

  .container-login {
    width: 500px;
  }
  .dashboard_main_admin {
    width: 1000px;
  }
  .dashboard_tabs {
    width: 300px;
  }
  .dashboard_computation {
    width: 800px;
  }
  .input_field_for_admin_create_and_update {
    width: 600px;
  }
  .table_style_datase{
    width: 800px;
  }
  .table_style_user{
    width: 600px;
  }
}

