<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DM| Administrator</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/JBS-retina-copy.png.webp">
    <script src="/static/js/code.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script> -->
</head>

<body x-data="AutomatedDigitalMaturity" x-cloak>

    <main class="container">
        <section>
            <div class="dashboard_main_admin">
                <h1 class="item">ADMINISTRATOR CONTROL</h1>
                <button x-on:click="openHome('Admin_Home_Page')" class="create_user" style="float: right;">CREATE NEW
                    USER</button>
                <a href="/logout" class="item" style="float: right;">SIGN OUT</a>

            </div>
        </section>
        <section x-cloak>
            <div class="dashboard_main_admin">
                <div class="dashboard_tabs">
                    <div class="box_for_the_dashboard_tabs">
                        <h1 class="item">BUSINESS SECTOR</h1>
                        <p>USER PROFILE WILL COME HERE</p>
                    </div>

                    <div class="box_for_the_dashboard_tabs">


                    </div>

                    <div class="box_for_the_dashboard_tabs">
                        <h1 class="item">BUSINESS SECTOR </h1><br>
                        <h1 class="item">MEASURING ELEMENT </h1><br>
                        <h1 class="item">RATING </h1><br>
                        <h1 class="item">SUB-CATEGORY </h1><br>
                        <h1 class="item">QUESTIONS </h1><br>
                        <h1 class="item">ANSWERS </h1><br>
                        <h1 class="item">RATING ANSWERS </h1><br>
                        <h1 class="item">MAX RATING </h1><br>

                        <div class="create_delete_update_buttons">
                            <button class="submit-btn" x-on:click="openHome('Create_Sub_Category')">INSERT</button>
                            <button class="submit-btn" x-on:click="openHome('Update_Sub_Category')">EDIT</button>
                            <!-- <button class="submit-btn" x-on:click="openHome('start_game')">DELETE</button> -->
                        </div>
                    </div>

                    <div class="box_for_the_dashboard_tabs">


                    </div>
                </div>

                <div class="dashboard_computation">

                    <!-- Creating a user by the admin  -->

                    <div x-show="Admin_Home_Page">
                        <div class="container-login">
                            <form action="/Adminregister" method="POST">
                                <div>
                                    <label for="name">USERNAME:</label>
                                    <input class="input" type="text" placeholder="Create your username" name="name"
                                        required id="name">
                                </div>
                                <br><br>
                                <div>
                                    <label for="email">EMAIL:</label>
                                    <input type="email" class="input" id="email" placeholder="Enter email" name="email"
                                        required>
                                </div>
                                <br><br>

                                <div>
                                    <label label="account_type">ACCOUNT TYPE</label>
                                    <select name="users" id="cars" class="input" required>
                                        <option value="disabled">Select a user type</option>
                                        <option value="Administrator">Administrator</option>
                                        <option value="Business Analyst">Business Analyst</option>
                                    </select>

                                </div><br><br>
                                <div>
                                    <label for="password">PASSWORD:</label>
                                    <input type="password" class="input" id="password" placeholder="Enter password"
                                        name="password" required>
                                </div>
                                <br><br>
                                <div>
                                    <label for="confirm_password">CONFIRM PASSWORD:</label>
                                    <input type="password" class="input" id="confirm_password"
                                        placeholder="Confirm password" name="confirm_password" required>
                                </div>
                                <br><br>
                                <button type="submit" class="submit-btn">Submit</button>

                            </form>

                            <div>
                                <!-- Display error messages here -->
                                {% if error %}
                                <p class="error">{{ error }}</p>
                                {% endif %}
                            </div>

                        </div>
                    </div>

                    <!-- Creating Business sector starts here  -->
                    <!-- Creating a Business Sector starts here  -->
                    <div x-show="Create_Business_Sector">
                        <hr>
                        <h1 class="item">UPLOAD CSV INTO THE DATABASE</h1><br><br>
                        <h1>UPLOAD CSV FILE</h1>
                        <form action="/" method="post" enctype="multipart/form-data">
                            <input type="file" name="file" accept=".csv">
                            <button type="submit" class="upload-btn">Upload</button>
                        </form>

                        <div class="item">
                            {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>

                        <hr>
                        <!-- To display all user accounts  -->

                        <br><br><br>
                        <div >
                            <table class="table_style_user">
                                <thead>
                                    <tr>
                                        <th>NAME</th>
                                        <th>EMAIL</th>
                                        <th>ACCOUNT TYPE</th>
                                        <th>DELETE USER</th>
                                
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for row in all_data %}
                                    <tr>
                                        <td>{{ row[0] }}</td>
                                        <td>{{ row[1] }}</td>
                                        <td>{{ row[2] }}</td>
                                        <td>
                                            <form action="/delete_user_data" method="post">
                                                <input type="hidden" name="user_record_id" value="{{ row[0] }}">
                                                <button type="submit" class="submit-btn">Delete</button>
                                            </form>
            
                                        </td>
                                
                                    </tr>
                                    {% endfor %}
                                </tbody>
                    
                            </table>
                            <form action="/view_all_user" method="post">
                                <button type="submit" class="submit-btn">RELOAD USER DATA</button>
                            </form>
                        </div>

                    </div>

                    <!-- THE BEGINING FOR THE CREATION OF ALL ENTRIES  -->
                    <div x-show="Create_Sub_Category">
                        <h1 class="item">CREATE A CATEGORY FOR THE DIFFERENT MEASURING ELEMENT</h1><br><br><br>


                        <form action="/CombinedTiersForAll" method="POST">
                            <div>
                                <div>
                                    <span>
                                        <h1>1. BUSINESS SECTOR:</h1>
                                    </span>
                                    <span><input name="business_sector_name" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an exisiting measuring element from the list"></span>
                                </div>
                                <br><br>
                        
                                <div>
                                    <span>
                                        <h1>2. BUSINESS FUNCTION:</h1>
                                    </span>
                                    <span><input name="business_function" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an exisiting measuring element from the list"></span>
                                </div>
                                <br><br>
                        
                                <div>
                                    <span>
                                        <h1>3. MEASURING ELEMENT:</h1>
                                    </span>
                                    <span><input name="Measuring_Element" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an exisiting measuring element from the list"></span>
                                </div>
                                <br><br>
                        
                                <div>
                                    <span>
                                        <h1>4. RATING:</h1>
                                    </span>
                                    <span><input name="Rating" class="input_field_for_admin_create_and_update" type="number" placeholder="Type to filter and select an exisiting measuring element from the list"></span>
                                </div>
                                <br><br>
                        
                                <div>
                                    <span>
                                        <h1>5. SUB CATEGORY:</h1>
                                    </span>
                                    <span><input name="subCategory_name" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an exisiting measuring element from the list"></span>
                                </div>
                                <br><br>
                        
                                <!-- <div>
                                    <span>
                                        <h1>6. As Is QUESTIONS:</h1>
                                    </span>
                                    <span><input name="AsIsQuestions" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an exisiting measuring element from the list"></span>
                                </div>
                                <br><br>
                        
                                <div>
                                    <span>
                                        <h1>7. To Be QUESTIONS:</h1>
                                    </span>
                                    <span><input name="ToBeQuestions" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an exisiting measuring element from the list"></span>
                                </div>
                                <br><br> -->
                        
                                <div>
                                    <span>
                                        <h1>6. MAXIMUM ANSWER RATING:</h1>
                                    </span>
                                    <span><input name="MaxRating" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an exisiting measuring element from the list"></span>
                                </div>
                                <br><br>
                        
                                <button class="submit-btn">CREATE ENTRY</button>
                            </div>
                        </form>
                        


                    </div>

                    <!-- Update sub category starts here  -->
                    <div x-show="Update_Sub_Category">
                        <h1 class="item">UPDATE A CATEGORY FOR THE DIFFERENT MEASURING ELEMENT</h1><br><br><br>

                        <div>

                            <form action="/UpdateCombinedTiersForAll" method="POST">
                                <div>
                                    <div>
                                        <span>
                                            <h1>1. OLD BUSINESS SECTOR:</h1>
                                        </span>
                                        <span><input name="oldbusiness_sector_name" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an existing measuring element from the list"></span>
                                    </div>
                                    <br><br>
                            
                                    <div>
                                        <span>
                                            <h1>2. OLD BUSINESS FUNCTION:</h1>
                                        </span>
                                        <span><input name="oldbusiness_function" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an existing measuring element from the list"></span>
                                    </div>
                                    <br><br>
                            
                                    <div>
                                        <span>
                                            <h1>3. OLD MEASURING ELEMENT:</h1>
                                        </span>
                                        <span><input name="oldMeasuring_Element" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an existing measuring element from the list"></span>
                                    </div>
                                    <br><br>
                            
                                    <div>
                                        <span>
                                            <h1>4. OLD RATING:</h1>
                                        </span>
                                        <span><input name="oldRating" class="input_field_for_admin_create_and_update" type="number" placeholder="Type to filter and select an existing measuring element from the list"></span>
                                    </div>
                                    <br><br>
                            
                                    <div>
                                        <span>
                                            <h1>5. OLD SUB CATEGORY:</h1>
                                        </span>
                                        <span><input name="oldsubCategory_name" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an existing measuring element from the list"></span>
                                    </div>
                                    <br><br>
                            
                                    <div>
                                        <span>
                                            <h1>6. OLD MAXIMUM ANSWER RATING:</h1>
                                        </span>
                                        <span><input name="oldMaxRating" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an existing measuring element from the list"></span>
                                    </div>
                                    <br><br>
                            
                                    <div>
                                        <span>
                                            <h1>1. NEW BUSINESS SECTOR:</h1>
                                        </span>
                                        <span><input name="newbusiness_sector_name" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an existing measuring element from the list"></span>
                                    </div>
                                    <br><br>
                            
                                    <div>
                                        <span>
                                            <h1>2. NEW BUSINESS FUNCTION:</h1>
                                        </span>
                                        <span><input name="newbusiness_function" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an existing measuring element from the list"></span>
                                    </div>
                                    <br><br>
                            
                                    <div>
                                        <span>
                                            <h1>3. NEW MEASURING ELEMENT:</h1>
                                        </span>
                                        <span><input name="newMeasuring_Element" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an existing measuring element from the list"></span>
                                    </div>
                                    <br><br>
                            
                                    <div>
                                        <span>
                                            <h1>4. NEW RATING:</h1>
                                        </span>
                                        <span><input name="newRating" class="input_field_for_admin_create_and_update" type="number" placeholder="Type to filter and select an existing measuring element from the list"></span>
                                    </div>
                                    <br><br>
                            
                                    <div>
                                        <span>
                                            <h1>5. NEW SUB CATEGORY:</h1>
                                        </span>
                                        <span><input name="newsubCategory_name" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an existing measuring element from the list"></span>
                                    </div>
                                    <br><br>
                            
                                    <div>
                                        <span>
                                            <h1>6. NEW MAXIMUM ANSWER RATING:</h1>
                                        </span>
                                        <span><input name="newMaxRating" class="input_field_for_admin_create_and_update" type="text" placeholder="Type to filter and select an existing measuring element from the list"></span>
                                    </div>
                                    <br><br>
                            
                                    <button class="submit-btn">UPDATE ENTRY</button>
                                </div>
                            </form>
                            
                        </div>

                        <div class="item">

                            <h1>PROPMT MESSAGE FOR UPDATING THE DATABASE RECORD WILL COME HERE </h1>

                        </div>


                    </div>

                </div>

            </div>

        </section><br><br>

        <section>
            <div class="dashboard_main_admin_record" style="background-color: black;" >
               
                <table >
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>BUSINESS SECTOR</th>
                            <th>BUSINESS FUNCTION</th>
                            <th>MEASURING ELEMENT</th>
                            <th>RATING</th>
                            <th>SUB CATEGORY</th>
                            <th>As-Is QUESTIONS</th>
                            <th>To-Be Questions</th>
                            <th>MAXIMUM RATING</th>
                            <th>DELETE</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for row in combined_data %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                            <td>{{ row[7] }}</td>
                            <td>{{ row[8] }}</td>
                            <td>
                                <form action="/delete_combined_data" method="post">
                                    <input type="hidden" name="record_id" value="{{ row[0] }}">
                                    <button type="submit" class="submit-btn">Delete</button>
                                </form>

                            </td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                    
                </table>
                
            </div>
            <form action="/view_combined_data" method="post">
                <button type="submit" class="submit-btn">Reload Data</button>
            </form>
        </section>


        


    </main>


   
</body>

</html>