<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DM | Register</title>
    <link href="/static/css/style.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="/static/images/JBS-retina-copy.png.webp">
</head>

<body>

    <main class="container">
        <section>


            <h1 class="item">WELCOME TO OUR DIGITAL MATURITY TOOLKIT</h1><br>
            <h2 class="item">Want to assess the digital maturity nature of your business ?</h2>

            <!-- Display error messages here -->
            {% if error %}
            <p class="error">{{ error }}</p>
            {% endif %}
        </section>


        <!-- register section  -->
        <section>
            <div class="container-login">
                <form action="/register" method="POST" enctype="multipart/form-data">
                    <div>
                        <label for="name">USERNAME:</label>
                        <input class="input" type="text" placeholder="Create your username" name="name" required
                            id="name">
                    </div>
                    <br><br>
                   
                    <div>
                        <label for="email">EMAIL:</label>
                        <input type="email" class="input" id="email" placeholder="Enter email" name="email" required>
                    </div>
                    <br><br>

                    <div>
                        <label label="account_type">ACCOUNT TYPE</label>
                        <select name="users" id="cars" class="input" required>
                            <option value="disabled">Select a user type</option>
                            <option value="Business Analyst">Business Analyst</option>
                            <option value="Administrator">Administrator</option>
                        </select>

                    </div><br><br>
                    <div>
                        <label for="password">PASSWORD:</label>
                        <input type="password" class="input" id="password" placeholder="Enter password" name="password"
                            required>
                    </div>
                    <br><br>
                    <div>
                        <label for="confirm_password">CONFIRM PASSWORD:</label>
                        <input type="password" class="input" id="confirm_password" placeholder="Confirm password"
                            name="confirm_password" required>
                    </div>
                    <br><br>

                    <div>
                        <label for="photo">PHOTO:</label><br>
                        <input type="file" name="User_photo" accept="image/*"  id="User_photo">
                    </div>
                    <br><br>
                    <button type="submit" class="submit-btn">Submit</button>
                    <h4 class="item">Already have an account ? <a href="/login">Click to login</a></h4>
                </form>
                
            </div>
        </section>

    </main>

</body>

</html>